1	Mark	_	NN	NNP	NOUN
2	Jerome	_	NN	NNP	NOUN
3	Steedman	_	NN	NNP	NOUN
4	,	_	,	,	.
5	FBA	_	NN	NNP	NOUN
6	,	_	,	,	.
7	FRSE	_	NN	NNP	NOUN
8	(	_	-L	-LRB-	.
9	born	_	VB	VBN	VERB
10	18	_	CD	CD	NUM
11	September	_	NN	NNP	NOUN
12	1946	_	CD	CD	NUM
13	)	_	-R	-RRB-	.
14	is	_	VB	VBZ	VERB
15	a	_	DT	DT	DET
16	computational	_	JJ	JJ	ADJ
17	linguist	_	NN	NN	NOUN
18	and	_	CC	CC	CONJ
19	cognitive	_	JJ	JJ	ADJ
20	scientist	_	NN	NN	NOUN
21	.	_	.	.	.

1	Steedman	_	NN	NN	NOUN
2	graduated	_	VB	VBD	VERB
3	from	_	IN	IN	ADP
4	the	_	DT	DT	DET
5	University	_	NN	NNP	NOUN
6	of	_	IN	IN	ADP
7	Sussex	_	NN	NNP	NOUN
8	in	_	IN	IN	ADP
9	1968	_	CD	CD	NUM
10	,	_	,	,	.
11	with	_	IN	IN	ADP
12	a	_	DT	DT	DET
13	B.Sc.	_	NN	NNP	NOUN
14	in	_	IN	IN	ADP
15	Experimental	_	NN	NNP	NOUN
16	Psychology	_	NN	NNP	NOUN
17	,	_	,	,	.
18	and	_	CC	CC	CONJ
19	from	_	IN	IN	ADP
20	the	_	DT	DT	DET
21	University	_	NN	NNP	NOUN
22	of	_	IN	IN	ADP
23	Edinburgh	_	NN	NNP	NOUN
24	in	_	IN	IN	ADP
25	1973	_	CD	CD	NUM
26	,	_	,	,	.
27	with	_	IN	IN	ADP
28	a	_	DT	DT	DET
29	Ph.D.	_	NN	NNP	NOUN
30	in	_	IN	IN	ADP
31	Artificial	_	NN	NNP	NOUN
32	Intelligence	_	NN	NNP	NOUN
33	.	_	.	.	.

1	He	_	PR	PRP	PRON
2	has	_	VB	VBZ	VERB
3	held	_	VB	VBN	VERB
4	visiting	_	VB	VBG	VERB
5	positions	_	NN	NNS	NOUN
6	at	_	IN	IN	ADP
7	the	_	DT	DT	DET
8	University	_	NN	NNP	NOUN
9	of	_	IN	IN	ADP
10	Texas	_	NN	NNP	NOUN
11	at	_	IN	IN	ADP
12	Austin	_	NN	NNP	NOUN
13	,	_	,	,	.
14	the	_	DT	DT	DET
15	Max	_	NN	NNP	NOUN
16	Planck	_	NN	NNP	NOUN
17	Institute	_	NN	NNP	NOUN
18	for	_	IN	IN	ADP
19	Psycholinguistics	_	NN	NNPS	NOUN
20	,	_	,	,	.
21	Nijmegen	_	NN	NNP	NOUN
22	,	_	,	,	.
23	and	_	CC	CC	CONJ
24	the	_	DT	DT	DET
25	University	_	NN	NNP	NOUN
26	of	_	IN	IN	ADP
27	Pennsylvania	_	NN	NNP	NOUN
28	,	_	,	,	.
29	Philadelphia	_	NN	NNP	NOUN
30	.	_	.	.	.

1	Steedman	_	NN	NN	NOUN
2	currently	_	RB	RB	ADV
3	holds	_	VB	VBZ	VERB
4	the	_	DT	DT	DET
5	Chair	_	NN	NN	NOUN
6	of	_	IN	IN	ADP
7	Cognitive	_	NN	NNP	NOUN
8	Science	_	NN	NNP	NOUN
9	in	_	IN	IN	ADP
10	the	_	DT	DT	DET
11	School	_	NN	NNP	NOUN
12	of	_	IN	IN	ADP
13	Informatics	_	NN	NNPS	NOUN
14	at	_	IN	IN	ADP
15	the	_	DT	DT	DET
16	University	_	NN	NNP	NOUN
17	of	_	IN	IN	ADP
18	Edinburgh	_	NN	NNP	NOUN
19	(	_	-L	-LRB-	.
20	1998	_	CD	CD	NUM
21	-	_	:	:	.
22	)	_	-R	-RRB-	.
23	.	_	.	.	.

1	He	_	PR	PRP	PRON
2	works	_	VB	VBZ	VERB
3	in	_	IN	IN	ADP
4	computational	_	JJ	JJ	ADJ
5	linguistics	_	NN	NNS	NOUN
6	,	_	,	,	.
7	artificial	_	JJ	JJ	ADJ
8	intelligence	_	NN	NN	NOUN
9	,	_	,	,	.
10	and	_	CC	CC	CONJ
11	cognitive	_	JJ	JJ	ADJ
12	science	_	NN	NN	NOUN
13	,	_	,	,	.
14	on	_	IN	IN	ADP
15	Combinatory	_	NN	NN	NOUN
16	Categorial	_	JJ	JJ	ADJ
17	Grammar	_	NN	NNP	NOUN
18	(	_	-L	-LRB-	.
19	CCG	_	NN	NNP	NOUN
20	)	_	-R	-RRB-	.
21	.	_	.	.	.

1	He	_	PR	PRP	PRON
2	is	_	VB	VBZ	VERB
3	also	_	RB	RB	ADV
4	interested	_	JJ	JJ	ADJ
5	in	_	IN	IN	ADP
6	Computational	_	NN	NNP	NOUN
7	Musical	_	JJ	JJ	ADJ
8	Analysis	_	NN	NNP	NOUN
9	and	_	CC	CC	CONJ
10	Combinatory	_	NN	NNP	NOUN
11	Logic	_	NN	NNP	NOUN
12	.	_	.	.	.
